<ion-content>
  <form>
    <!-- Nombre de la receta -->
    <ion-item>
      <ion-input
        label="Nombre de la receta"
        labelPlacement="floating"
        placeholder="Ingrese el nombre"
        type="text"
      >
      </ion-input>
    </ion-item>

    <!-- Tiempo de cocción -->
    <ion-item>
      <ion-input label="Hora" type="number" placeholder="999"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Minutos" type="number" placeholder="999"></ion-input>
    </ion-item>

    <!-- Ingredientes -->
    <ion-list>
      @for (ingrediente of ingredientes.controls; track $index) {

      <ion-item>
        <ion-input
          label="Ingrediente {{$index + 1}}"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese el ingrediente"
        ></ion-input>
      </ion-item>

      }

      <ion-button (click)="addIngrediente()">Agregar Ingrediente</ion-button>
    </ion-list>

    <!-- Preparación -->
    <ion-list>
      <ion-item *ngFor="let paso of preparacion.controls; let i = index">
        <ion-label position="floating">Paso de preparación {{i + 1}}</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button (click)="addPreparacion()">Agregar Paso</ion-button>
    </ion-list>

    <!-- Región -->
    <ion-item>
      <ion-label>Región</ion-label>
      <ion-select>
        <ion-select-option value="costa">Costa</ion-select-option>
        <ion-select-option value="sierra">Sierra</ion-select-option>
        <ion-select-option value="selva">Selva</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Tipo de plato -->
    <ion-item>
      <ion-label>Tipo de Plato</ion-label>
      <ion-select>
        <ion-select-option value="entrada">Entrada</ion-select-option>
        <ion-select-option value="sopa">Sopa</ion-select-option>
        <ion-select-option value="plato de fondo"
          >Plato de fondo</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!-- Porciones -->
    <ion-item>
      <ion-input label="Porciones" type="number" placeholder="999"></ion-input>
    </ion-item>

    <!-- Información nutricional -->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Carbohidratos (g)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Energía (kcal)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <!-- Agrega más campos para el resto de la información nutricional -->
    </ion-list>

    <!-- foto -->
    <ion-button (click)="openModal()">Abrir cámara</ion-button>
    <app-camara-modal
      [isOpen]="isModalOpen"
      (closeModalEvent)="closeModal()"
      (captureEvent)="handleCapture($event)"
    ></app-camara-modal>

    @for (ww of capturedImage; track $index) {

    <img [src]="capturedImage" alt="Captured" style="width: 100%" />
    }

    <!-- Botón de envío -->
    <ion-button expand="block" type="submit">Guardar Receta</ion-button>
  </form>
</ion-content>
